<div class="content">
    <!--FORMULÁRIO DE LOGIN-->
    <div id="login">
        <h1>Login</h1>

        <p>
            <label for="email">E-mail</label>
            <input matInput [(ngModel)]="usuario" type="email" id="email" name="email" placeholder="email" type="text" required />
        </p>
        <p>
            <label for="senha">Senha</label>
            <input [(ngModel)]="senha" type="password" id="password" name="password" placeholder="password" type="password" required />
        </p>

        <p>
            <input type="submit" value="Login" />
        </p>

        <p class="link">
            Ainda não tem conta?
            <a href="cadastro">Cadastre-se</a>
        </p>
    </div>