<div class="content">
    <!--FORMULÁRIO DE LOGIN-->
    <div id="login">
        <form method="post" action="">
            <h1>Login</h1>
            <p>
                <label for="email_login">Seu e-mail</label>
                <input id="email_login" name="usuario" required="required" type="password" placeholder="" />
            </p>
            <p>
                <label for="nome_login">Sua Senha</label>
                <input id="nome_login" name="Senha" required="required" type="text" placeholder="" />
            </p>




            <p>
                <input type="submit" value="Login" />
            </p>

            <p class="link">
                Ainda não tem conta?
                <a href="cadastro">Cadastre-se</a>
            </p>
        </form>
    </div>