<div class="content">
    <!--FORMULÁRIO DE LOGIN-->
    <div id="login">
        <form method="post" action="">
            <h1>Login</h1>

            <p>
                <label for="email">E-mail</label>
                <input required type="email" id="email" name="email" placeholder="email" [(ngModel)]="email" type="text" required />
            </p>
            <p>
                <label for="senha">Senha</label>
                <input required type="password" id="password" name="password" placeholder="password" [(ngModel)]="senha" type="password" required />
            <!-- </p>
                <button (click)="redefinirBTN()">Redefinir Senha </button>
            <p> -->
            </p>
            <button (click)="reenviar()">Reeenviar E-mail </button>
        <p>
                <input type="submit" value="Login" (click)="login()" />
            </p>

            <p class="link ">
                Ainda não tem conta?
                <a href="cadastro ">Cadastre-se</a>

            </p>
        </form>
    </div>

