<div class="content">
    <!--FORMULÁRIO DE LOGIN-->
    <div id="login">
        <form method="post" action="">
            <h1>Redefinir Senha</h1>
            <br>
            <br>
            <p>
                <label for="email">E-mail</label>
                <input required type="email"  type="text" required />
            </p>
            <br>
            <br>
            
            <p>
                <input type="submit" value="Enviar E-mail" (click)="redefinirSenha()" />
            </p>


          
        </form>
    </div>
</div>
    <!-- (click)="login"() -->